/*   font / background colors   */

$color-1: #fff;           // White.
$color-2: #000;           // Black.
$color-3: #004f92;        // Dark blue.                       rgb(0,79,146)
$color-4: #7d7d7d;        // Dark gray.                       rgb(125,125,125)
$color-5: #a90000;        // Dark red.                        rgb(169,0,0)
$color-6: #ff0000;        // Pure (or mostly pure) red.       rgb(255,0,0)