
$icon-arrow_d: "\EA01" !default;

$icon-maestro: "\EA02" !default;

$icon-mastercard: "\EA03" !default;

$icon-o: "\EA04" !default;

$icon-spotify: "\EA05" !default;

$icon-switch: "\EA06" !default;

$icon-visa: "\EA07" !default;

$icon-western-union: "\EA08" !default;