doctype html
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
html(lang="en")

	head
		include modules/head.pug
	body
		header
			.header-wrp
				include modules/header.pug
				
		.content-wrp
			section.promo
				h1 Try our new game product!
				.promo__call
					button.btns.promo__btn Join Now!
					p.promo__text and get
					h4 Free 
						span $200 
						|Welcome bonus
			section.content
				.products
					a(href="#").products__sport.products__item 
						h3 8,000+ live events every month, customisable views, goal alerts, live bets search and much more!
						button.btns Tty it now!
					a(href="#").products__mobile.products__item
						h3 Get a whole new sports betting thrill, On ANY mobile device!
						button.btns Tty it now!
					a(href="#").products__casino.products__item
						h3 Feel The Full Vegas Atmosphere With Tons Of Games, Big Jackpots And Incredible Promotions
						button.btns Tty it now!
					a(href="#").products__lCasino.products__item
						h3 Play Live Blackjack, Live Baccarat & Live Roulette In A Real Casino With Real Dealers.
						button.btns Tty it now!

				aside.game-slider-wrp
					a(href="#").game-slider-title Our new games
					ul.game-slider
						li.game-slider__item
							a(href="#")
								img(src="./img/games_1.png" alt="")
							.game-slider__item-name Name of the game
						li.game-slider__item
							a(href="#")
								img(src="./img/games_2.png" alt="")
							.game-slider__item-name Name of the game
						li.game-slider__item
							a(href="#")
								img(src="./img/games_3.png" alt="")
							.game-slider__item-name Name of the game
						li.game-slider__item
							a(href="#")
								img(src="./img/games_4.png" alt="")
							.game-slider__item-name Name of the game
						li.game-slider__item
							a(href="#")
								img(src="./img/games_5.png" alt="")
							.game-slider__item-name Name of the game
						li.game-slider__item
							a(href="#")
								img(src="./img/games_6.png" alt="")
							.game-slider__item-name Name of the game
			section.info
				.info__box
					.info-box__title Sports cateories
					ul.info-box__list
						li.info-box__list-item
							a(href="#") Soccer
						li.info-box__list-item
							a(href="#") Basketball
						li.info-box__list-item
							a(href="#") Boxing
						li.info-box__list-item
							a(href="#") Baseball
						li.info-box__list-item
							a(href="#") Hockey
				.info__box
					.info-box__title Closest competitions
					ul.info-box__schedule
						li
							.schedule-data
								date 10.11
								br
								time 20:00
							a(href="#").schedule-link Basketball, NBA. LA - Boston
						li
							.schedule-data
								date 12.11
								br
								time 22:00
							a(href="#").schedule-link F1 racing, Grand prix Brazil
						li
							.schedule-data
								date 17.11
								br
								time 19:00
							a(href="#").schedule-link Football championship
				.info__box
					.info-box__title Last news
						.info-box__news
							a(href="#").img-wpr
								img(src="./img/football.jpeg" alt="")
							a(href="#").info-box__news-link American football news
						.info-box__news
							a(href="#").img-wpr
								img(src="./img/mob-betting.jpg" alt="")
							a(href="#").info-box__news-link News in the casino world

			footer
				include modules/footer.pug

		include modules/scripts.pug