.payments
	a(href="#")
		img(src="./icons/maestro.svg" alt="")
	a(href="#")
		img(src="./icons/mastercard.svg" alt="")
	a(href="#")
		img(src="./icons/o.svg" alt="")
	a(href="#")
		img(src="./icons/spotify.svg" alt="")
	a(href="#")
		img(src="./icons/switch.svg" alt="")
	a(href="#")
		img(src="./icons/visa.svg" alt="")
	a(href="#")
		img(src="./icons/western-union.svg" alt="")

nav.navBottom
	- var menuBottom = ["Affiliates", "Contact us", "Live Chat", "Responsible Gaming", "Register"];
	ul.menuBottom
		for menuBottom__item in menuBottom
			li.menuBottom__item
				a(href="#")= menuBottom__item

.copyright 2003 - 2011 © Copyright 10Bet.com Ltd. All rights reserved.