.logo
	a(href="#")
		img(src="../img/logo.png" alt="")

nav.main-nav
	a(href="#" class="menu__item") Sports
	a(href="#" class="menu__item menu__item--new") Live Betting
	a(href="#" class="menu__item") Casino
	a(href="#" class="menu__item") Games
	a(href="#" class="menu__item") Live Casino
	a(href="#" class="menu__item") Mobile

.language
	a(href="#").language--selected
		img(src="./img/uk.png" alt="")
	.language__list
		ul
			li.language__list-item
				img(src="./img/uk.png" alt="")
				span English
			li.language__list-item
				img(src="./img/de.png" alt="")
				span Deutsch
			li.language__list-item
				img(src="./img/br.png" alt="")
				span Português
			li.language__list-item
				img(src="./img/fr.png" alt="")
				span French
			li.language__list-item
				img(src="./img/jp.png" alt="")
				span 日本語
			li.language__list-item
				img(src="./img/se.png" alt="")
				span English